@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@theme {
  --shadow-kbd: 0px 2px 0px 0px rgba(0, 0, 245, 0.07);
}

@layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  kbd {
    @apply inline-flex size-5 items-center justify-center rounded-md border border-ctp-surface1 bg-ctp-mantle text-xs text-ctp-overlay0 shadow-md;
  }
}

@layer components {
  .card {
    @apply flex flex-col gap-4 rounded-lg bg-ctp-mantle p-4;
  }
  .subtext-sm {
    @apply text-sm text-ctp-subtext0;
  }
}
